<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>$title$</title>

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta property="og:title" content="$title$">
        <meta property="og:type" content="website">

        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/screen.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">

        <link rel="alternate" type="application/rss+xml" href="/rss/feed.xml">
        <link rel="canonical" href="">
        $mathjax$
    </head>
    <body class="post-template nav-closed">
        <div class="nav">
            <h3 class="nav-title">Menu</h3>
            <a href="#" class="nav-close">
                <span class="hidden">Close</span>
            </a>
            <ul>
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/archive.html">Archive</a></li>
                <li role="presentation"><a href="$about_page_link$">About</a></li>
            </ul>
            <a class="subscribe-button icon-feed" href="/rss/feed.xml">Subscribe</a>
        </div>
        <header class="site-head" style="background-image: url($banner_image_link$)">
            <div class="vertical">
                <div class="site-head-content inner">
                    <h1 class="blog-title">$blog_title$</h1>
                    <h2 class="blog-description">$blog_description$</h2>
                </div>
            </div>
            <A HREF="/">
            <nav class="main-nav overlay clearfix">
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            </nav>
            </A>
        </header>

        <main class="content" role="main">
            <article class="post">
                    <span class="post-meta"><time datetime="$date$">$date$</time> </span>

                    <h1 class="post-title">$title$</h1>

                    <section class="post-content">
                        $body$
                    </section>

                    <footer class="post-footer">

                        <section class="author">
                            <h4><a href="$about_page_link$">$author_name$</a></h4>
                            <p>$author_intro$</p>
                        </section>

                        <section class="share">
                            <h4>Share this</h4>
                            <a class="icon-twitter" href="https://twitter.com/share?text=$title$&amp;url=$url$" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                <span class="hidden">Twitter</span>
                            </a>
                            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=$url$" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                <span class="hidden">Facebook</span>
                            </a>
                            <a class="icon-google-plus" href="https://plus.google.com/share?url=$url$" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                <span class="hidden">Google+</span>
                            </a>
                        </section>
                    </footer>
            </article>
        </main>

        <footer class="site-footer">
            <a class="subscribe icon-feed" href="/rss/feed.xml"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">$blog_copyright$</section>
            </div>
        </footer>
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/jquery.fitvids.js"></script>
        <script src="/javascript/index.js"></script>
    </body>
</html>
